@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "mixin.scss";
body {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

p {
    margin-bottom: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.nav {
    display: none;
    @include breackpoint(tablet) {
        display: block;
    }
    .active {
        position: fixed;
        top: 20px;
        right: 15px;
        /* background: red; */
        z-index: 99999;
    }
}

.nav-active .active {
    border: 2px solid white;
}

.nav-active .active span::after,
.nav-active .active span::before {
    background-color: white;
}

$menu-zindex: 1100;
$hamburger-color: #0B132A;
;
$hamburger-width: 50px;
$hamburger-height: 50px;
$hamburger-zindex: $menu-zindex+10;
.menu {
    background: rgb(243, 140, 140);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.7s ease-in-out;
    // For some sweet fadez
    visibility: hidden;
    width: 100%;
    z-index: $menu-zindex;
    display: none;
}

.open {
    opacity: 1;
    visibility: visible;
    @include breackpoint(tablet) {
        display: block;
    }
    li {
        animation-duration: 1.0s;
        animation-fill-mode: both;
        animation-name: fadeInUp;
    }
    .btn-toggle {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        a {
            border: 2px solid white;
            border-radius: 50px;
            padding: 16px 35px;
            margin-top: 50px;
        }
    }
}

ul {
    &:hover {
        a {
            opacity: 0.5;
        }
    }
    a {
        transition: opacity 0.3s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}

.main-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        color: rgb(255, 255, 255);
        display: block;
        font-size: 24px;
        font-weight: bold;
        padding: 1rem 1rem;
        text-decoration: none;
        text-transform: uppercase;
        &:first {
            padding-top: 0;
        }
    }
}

// Hamburger menu toggler stuff below
.toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    // float: right;
    height: 50px;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    vertical-align: middle;
    width: $hamburger-width;
    z-index: $hamburger-zindex;
    span {
        background-color: $hamburger-color;
        content: "";
        display: block;
        height: 2px;
        left: calc(50% - 13px);
        position: absolute;
        top: calc(50% - 1px);
        transform-origin: 50% 50%;
        transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
        width: 26px;
        &:before,
        &:after {
            background-color: $hamburger-color;
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            transform-origin: 50% 50%;
            transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
            width: 26px;
        }
        &:before {
            top: 7px;
        }
        &:after {
            top: -7px;
        }
    }
}

.active {
    // background-color: yellow;
    border: 2px solid #0B132A;
    border-radius: 50%;
    span {
        background-color: transparent;
        transition: background 0.2s ease-out;
        &:before,
        &:after {
            transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
        }
        &:before {
            top: 0;
            transform: rotate3d(0, 0, 1, -45deg);
        }
        &:after {
            top: 0;
            transform: rotate3d(0, 0, 1, 45deg);
        }
    }
}

header {
    padding: 0 15px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        .header-menu {
            display: flex;
            gap: 40px;
            font-size: 16px;
            line-height: calc(19/16);
            margin-bottom: 0;
            @include breackpoint(tabletland) {
                gap: 20px;
            }
            @include breackpoint(tablet) {
                display: none;
            }
            .list {
                display: inline-block;
                list-style: none;
                a {
                    text-decoration: none;
                    color: #4F5665;
                    &:hover {
                        color: #F53855;
                    }
                }
            }
        }
        .header-connect {
            @include breackpoint(tablet) {
                display: none;
            }
            button {
                display: inline-block;
                padding: 13px 40px;
                border-radius: 50px;
                font-weight: 500;
                font-size: 16px;
                line-height: calc(19/16);
                color: #0B132A;
                text-transform: capitalize;
                background: transparent;
                border: none;
                @include breackpoint(mobile) {
                    padding: 10px 16px;
                }
                &:hover {
                    border: 1px solid #F53855;
                    padding: 12px 39px;
                    color: #F53855;
                }
                @include breackpoint(tabletland) {
                    padding: 13px 16px;
                    &:hover {
                        border: 1px solid #F53855;
                        padding: 12px 15px;
                        color: #F53855;
                    }
                }
            }
        }
    }
}

main {
    margin-top: 50px;
    .start {
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .container {
            display: flex;
            align-items: center;
        }
        &-content {
            @include breackpoint(tablet) {
                position: absolute;
                z-index: 1;
            }
            .start-content1 {
                font-size: 50px;
                line-height: calc(70/50);
                color: #0B132A;
                @include breackpoint(tablet) {
                    font-size: 40px;
                }
                span {
                    font-weight: 500;
                }
            }
            .start-content2 {
                font-size: 16px;
                line-height: calc(30/16);
                margin-top: 20px;
                @include breackpoint(tablet) {
                    font-size: 14px;
                }
                span {
                    font-weight: 500;
                }
            }
            .start-btn {
                border: 2px solid #F53838;
                border-radius: 10px;
                padding: 10px 70px;
                text-transform: capitalize;
                color: #0B132A;
                background: transparent;
                margin-top: 50px;
                font-weight: bold;
                @include breackpoint(mobile) {
                    margin-top: 20px;
                }
                &:hover {
                    background: #F53838;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 40px -7px;
                    color: white;
                }
            }
        }
        &-img {
            @include breackpoint(tablet) {
                opacity: 0.5;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .location {
        margin-top: 100px;
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            box-shadow: 1px 6px 9px -6px rgba(9, 30, 66, .25);
            margin-bottom: 50px;
            @include breackpoint(mobile) {
                grid-template-columns: auto auto;
            }
            .location-item {
                padding: 37px 0;
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    border-right: 2px solid #EEEFF2;
                    @include breackpoint(mobile) {
                        border: none;
                    }
                }
                .location-content {
                    margin: 0 auto;
                    display: flex;
                    @include breackpoint(mobile) {
                        align-items: center;
                    }
                    .lc-img {
                        width: 55px;
                        height: 55px;
                        // display: inline-block;
                        object-fit: cover;
                        position: relative;
                        background: #FFECEC;
                        border-radius: 70px;
                        padding: 19px;
                        margin-right: 30px;
                        @include breackpoint(mobileland) {
                            margin-right: 12px;
                        }
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            object-fit: cover;
                        }
                    }
                    .lc-content {
                        display: flex;
                        flex-direction: column;
                        span {
                            &:nth-child(1) {
                                font-weight: bold;
                                font-size: 25px;
                                line-height: 30px;
                                /* identical to box height, or 120% */
                                color: #0B132A;
                            }
                            &:nth-child(2) {
                                font-size: 20px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    .features {
        .container {
            display: flex;
            align-items: center;
            .features-img {
                @include breackpoint(tablet) {
                    opacity: 0.5;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .features-content {
                @include breackpoint(tablet) {
                    position: absolute;
                    z-index: 1;
                }
                h4 {
                    font-weight: 500;
                    font-size: 35px;
                    line-height: calc(50/35);
                    color: #0B132A;
                    margin-bottom: 20px;
                    @include breackpoint(tablet) {
                        font-size: 26px;
                    }
                }
                p {
                    font-size: 16px;
                    line-height: calc(30/16);
                    @include breackpoint(tablet) {
                        font-size: 14px;
                    }
                }
                ul {
                    margin-top: 20px;
                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;
                        img {
                            margin-right: 12px;
                        }
                        p {
                            font-size: 14px;
                            line-height: calc(30/14);
                            @include breackpoint(tablet) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .plan {
        background: #F6F6F6;
        margin-top: 80px;
        padding: 80px 0;
        text-align: center;
        @include breackpoint(mobile) {
            padding: 16px 0;
        }
        .container {
            h4 {
                font-weight: 500;
                font-size: 35px;
                line-height: calc(50/35);
                text-align: center;
                color: #0B132A;
                @include breackpoint(tablet) {
                    font-size: 26px;
                }
            }
            &-text {
                font-size: 16px;
                line-height: calc(30/16);
                margin-bottom: 60px;
                @include breackpoint(tablet) {
                    font-size: 14px;
                }
            }
            .plan-card {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 15px;
                @include breackpoint(mobile) {
                    grid-template-columns: repeat(1, 1fr);
                }
                .plan-card-item {
                    position: relative;
                    // width: 330px;
                    min-height: 670px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: #FFFFFF;
                    border: 2px solid #DDDDDD;
                    border-radius: 10px;
                    padding: 50px 60px;
                    @include breackpoint(tabletland) {
                        padding: 20px 20px;
                    }
                    @include breackpoint(tablet) {
                        padding: 5px;
                    }
                    @include breackpoint(mobileland) {
                        min-height: 510px;
                    }
                    @include breackpoint(mobile) {
                        min-height: 550px;
                        margin-bottom: 24px;
                    }
                    &:hover {
                        border: 2px solid #F53838;
                    }
                    img {
                        width: 144.9px;
                        height: 165.37px;
                        object-fit: cover;
                        margin: 0 auto;
                        @include breackpoint(mobileland) {
                            width: 120px;
                            height: 130px;
                        }
                    }
                    .card-text {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: calc(30/18);
                        text-align: center;
                        color: #0B132A;
                        @include breackpoint(tablet) {
                            font-size: 16px;
                        }
                    }
                    li {
                        list-style: none;
                        display: block;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        span {
                            margin-right: 25px;
                            @include breackpoint(mobileland) {
                                margin-right: 10px;
                            }
                            i {
                                font-weight: 600;
                                font-size: 16px;
                                color: #2FAB73;
                                @include breackpoint(tablet) {
                                    font-size: 11px;
                                }
                            }
                        }
                        p {
                            font-size: 14px;
                            line-height: calc(30/14);
                            font-weight: 400;
                            @include breackpoint(tablet) {
                                font-size: 12px;
                            }
                        }
                    }
                    .one {
                        margin: 30px;
                        text-transform: capitalize;
                        @include breackpoint(tablet) {
                            margin: 16px;
                        }
                    }
                    .two {
                        font-size: 24px;
                        margin-bottom: 20px;
                        position: absolute;
                        left: 50%;
                        bottom: 10%;
                        transform: translate(-50%, -50%);
                        @include breackpoint(tablet) {
                            font-size: 18px;
                        }
                        span {
                            font-weight: 100;
                            color: #727171;
                        }
                    }
                    .plan-btn {
                        border: 2px solid #F53838;
                        border-radius: 50px;
                        background: white;
                        padding: 13px 0;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: calc(19/16);
                        /* identical to box height */
                        color: #F53838;
                        position: absolute;
                        left: 50%;
                        bottom: 5%;
                        width: 65%;
                        transform: translate(-50%, -30%);
                        text-transform: capitalize;
                        @include breackpoint(tablet) {
                            padding: 10px 0;
                            font-size: 14px;
                        }
                        &:hover {
                            background-color: #F53838;
                            color: white;
                            box-shadow: rgb(0 0 0 / 20%) 0px 25px 40px -7px;
                        }
                    }
                }
            }
        }
    }
    .network {
        margin-top: 70px;
        text-align: center;
        @include breackpoint(mobile) {
            margin-top: 16px;
        }
        h4 {
            font-weight: 500;
            font-size: 35px;
            line-height: calc(50/35);
            color: #0B132A;
            @include breackpoint(tablet) {
                font-size: 26px;
            }
        }
        &-text {
            font-size: 16px;
            line-height: calc(30/16);
            @include breackpoint(tablet) {
                font-size: 14px;
            }
            span {
                font-weight: 600;
            }
        }
        &-global {
            padding: 155px 40px 0;
            @include breackpoint(tabletland) {
                padding: 50px 24px 0;
            }
            @include breackpoint(tablet) {
                padding: 40px 20px 0;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .slide {
        margin: 80px 0 100px;
        @include breackpoint(tabletland) {
            margin: 50px 0 60px;
        }
        @include breackpoint(mobile) {
            margin: 50px 0;
        }
        .swiper-container {
            width: 100%;
            padding: 0 20px;
            @include breackpoint(mobile) {
                padding: 0;
            }
        }
        .swiper-slide {
            background-size: cover;
            background-position: 50%;
            min-height: 60px;
            // padding: 60px 30px;
            display: flex;
            // align-items: center;
            justify-content: center;
            flex-direction: column;
            // scroll: none;
            margin-right: 80px;
        }
    }
    .customer {
        position: relative;
        text-align: center;
        // margin-bottom: 300px;
        h4 {
            font-weight: 500;
            font-size: 35px;
            line-height: calc(50/35);
            color: #0B132A;
            margin-bottom: 20px;
            @include breackpoint(tablet) {
                font-size: 26px;
            }
        }
        &-text {
            font-size: 16px;
            line-height: calc(30/16);
            @include breackpoint(tablet) {
                font-size: 14px;
            }
        }
        .swiper {
            width: 100%;
            height: auto;
            padding-left: 150px;
            margin-top: 60px;
            @include breackpoint(change1) {
                padding-left: 50px;
            }
            @include breackpoint(tablet) {
                padding-left: 15px;
            }
            &-wrapper {
                margin-bottom: 300px;
            }
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 400px !important;
                min-height: 230px !important;
                border: 2px solid #DDDDDD;
                border-radius: 10px;
                &-active {
                    border: 2px solid red;
                }
                .customer-card {
                    padding: 30px;
                    .card-profile {
                        // background-color: red;
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        .img-profile {
                            width: 50px;
                            height: 50px;
                            margin-right: 20px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                        .card-infor {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            &-left {
                                text-align: left;
                                p {
                                    &:nth-child(1) {
                                        font-weight: 500;
                                        font-size: 18px;
                                        line-height: calc(30/18);
                                        color: #0B132A;
                                    }
                                    &:nth-child(2) {
                                        font-size: 14px;
                                        line-height: calc(30/14);
                                    }
                                }
                            }
                            &-right {
                                display: flex;
                                align-items: center;
                                span {
                                    font-size: 16px;
                                    line-height: calc(30/16);
                                    color: #0B132A;
                                    margin-right: 11px;
                                }
                            }
                        }
                    }
                    .card-content {
                        text-align: left;
                        font-size: 16px;
                        line-height: calc(30/16);
                        color: #0B132A;
                    }
                }
            }
            &-button-next {
                background: none;
                width: 60px;
                height: 60px;
                display: inline-block;
                border: 2px solid #F53838;
                border-radius: 50%;
                top: 65%;
                right: 15%;
                left: auto;
                .next1 {
                    display: none;
                }
                .next2 {
                    transform: rotate(180deg) translate(10px, 10px);
                }
                @include breackpoint(change1) {
                    right: 20%;
                }
                @include breackpoint(tablet) {
                    right: 10px;
                }
                @include breackpoint(mobile) {
                    display: none;
                }
                &:hover {
                    background-color: #F53838;
                    .next1 {
                        display: block;
                    }
                    .next2 {
                        display: none;
                    }
                }
                &::after {
                    content: '';
                }
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &-button-prev {
                background: none;
                width: 60px;
                height: 60px;
                display: inline-block;
                border: 2px solid #F53838;
                border-radius: 50%;
                top: 65%;
                right: 20%;
                left: auto;
                .prev2 {
                    display: none;
                }
                @include breackpoint(change1) {
                    right: 30%;
                }
                @include breackpoint(tablet) {
                    left: 10px;
                }
                @include breackpoint(mobile) {
                    display: none;
                }
                &:hover {
                    background-color: #F53838;
                    .prev2 {
                        display: block;
                        transform: rotate(180deg) translate(10px, 10px);
                    }
                    .prev1 {
                        display: none;
                    }
                }
                &::after {
                    content: '';
                }
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &-pagination {
                top: 65%;
                width: 50%;
                height: 5%;
                right: 60%;
                left: auto;
                @include breackpoint(change1) {
                    right: 55%;
                }
                @include breackpoint(tablet) {
                    top: 55%;
                    width: 100%;
                    right: 0;
                }
                @include breackpoint(mobile) {
                    display: none;
                }
            }
            &-pagination-bullet {
                width: 15px;
                height: 15px;
                margin-right: 15px !important;
                &-active {
                    width: 45px;
                    border-radius: 8px;
                    background-color: #F53838;
                }
            }
        }
        // subscribe
        .subscribe {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            @include breackpoint(mobile) {
                transform: translate(-50%, 10%);
            }
        }
        .container {
            background-color: white;
            border-radius: 10px;
            padding: 60px 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 27px 50px -38px #bcbbbb;
            @include breackpoint(tablet) {
                flex-direction: column;
            }
            @include breackpoint(mobile) {
                padding: 10px 16px;
            }
            .subscribe-content {
                text-align: left;
                @include breackpoint(tablet) {
                    text-align: center;
                }
                h4 {
                    font-weight: 500;
                    font-size: 35px;
                    line-height: calc(45/35);
                    color: #0B132A;
                }
                p {
                    font-size: 16px;
                    line-height: calc(30/16);
                }
            }
            .scri-btn {
                background: transparent;
                border: 2px solid #F53838;
                border-radius: 10px;
                padding: 10px 55px;
                font-weight: bold;
                font-size: 16px;
                line-height: calc(25/16);
                color: #0B132A;
                text-transform: capitalize;
                @include breackpoint(tablet) {
                    margin-top: 20px;
                }
                &:hover {
                    background-color: #F53838;
                    color: white;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 40px -7px;
                }
            }
        }
    }
}

footer {
    background: #F8F8F8;
    padding: 200px 0 100px;
    @include breackpoint(mobile) {
        padding: 55px 0;
    }
    .container {
        display: flex;
        @include breackpoint(mobile) {
            flex-direction: column;
        }
        .footer-about {
            .about-img {
                margin-bottom: 20px;
            }
            .ab1 {
                font-size: 16px;
                line-height: calc(30/16);
                span {
                    font-weight: 500;
                }
            }
            .social {
                margin: 30px 0;
                display: flex;
                gap: 20px;
                .social-btn {
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                    border-radius: 50%;
                    a {
                        width: 34px;
                        height: 34px;
                        background-color: red;
                        border-radius: 50%;
                        margin: 0 -4px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .ab2 {
                font-size: 16px;
                line-height: calc(30/16);
                color: #AFB5C0;
                span {
                    font-weight: 500;
                }
            }
        }
        .footer-attack {
            display: flex;
            justify-content: space-between;
            .attack-item {
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: calc(30/18);
                    color: #0B132A;
                    margin-bottom: 15px;
                }
                li {
                    list-style: none;
                    padding: 5px 0;
                    a {
                        font-size: 16px;
                        line-height: calc(30/16);
                        color: #4F5665;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}